[submodule "hakes/deps/libuv"]
	path = hakes/deps/libuv
	url = https://github.com/libuv/libuv.git
[submodule "hakes/deps/llhttp"]
	path = hakes/deps/llhttp
	url = https://github.com/nodejs/llhttp.git
